################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MCP_Project
/SimpleMCPClient/bin/Debug/net9.0
/SimpleMCPClient/obj
/SimpleMCPServer/bin/Debug/net9.0
/SimpleMCPServer/obj
